*{
    box-sizing: border-box;
}
body{
    font-family: 'Bungee Hairline', cursive;
    width: auto;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    background-color: #635C5E;
    color: #E3D3D6;
    
}
nav{
    display: flex;
    align-items: center;
    /*padding: var(--spacing-3) 0;*/
    margin-bottom: 40px; 
}
#logo {
    margin: 0;
    font-family: 'Bungee Hairline', cursive;
}
#navigation{
    margin-left: auto;
}
.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}
.navigation-item{
    margin: 15px;
}
li{
    display: list-item;
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #B0A4A6;
    border-radius: 15%;
}
a:-webkit-any-link {
    color: #B0A4A6;
    cursor: pointer;
}
section{
    display: block;
    padding: var(--spacing-3) 0;
}
.about-me-container{
    display: flex; 
    width: 100%;
    height: auto;
}
.about-me-text-container{
    margin-right:  auto;
}
div{
    display: block;
}
.portrait{
    width: 400px;
    height: auto;
    flex-shrink: 0;
    border-radius: 5%;
    margin-left: 30px;
    position: relative;
}
#up{
    margin-left: auto;
    border: 0px solid #B0A4A6;
    border-radius: 15%;
    width: 30px;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
}
@media only screen and (max-width: 860px) and (orientation: portrait){
    body{
        width: auto;
        align-items: center;
        text-align: center;
        margin: 0 20px;
    }
    .about-me-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin: auto 0;
        text-align: center;
    }
    #navigation{
        flex-direction: column;
    }
    .portrait{
        margin: auto;
    }
    nav{
        flex-direction: column;
    }
    .navigation-items{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 400px) and (orientation: portrait){
    body{
        width: auto;
        align-items: center;
        text-align: center;
        margin: 0 20px;
    }
    .about-me-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin: auto 0;
        text-align: center;
    }
    #navigation{
        flex-direction: column;
    }
    .portrait{
        margin: auto;
    }
    nav{
        flex-direction: column;
    }
    .navigation-items{
        margin-top: 10px;
    }
}