body{
    font-family:'Times New Roman', Times, serif;
    margin: 0%;
    padding:0%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin:auto;
}
nav{
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
    margin-bottom: 40px;
    
}
#logo {
    margin: 0;
}
.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}
.navigation-item{
    margin: 15px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
section{
    display: block;
    padding: var(--spacing-3) 0;
}

.about-me-text-container{
    margin-right:  auto;
}
.portrait{
    width: 300px;
    flex-shrink: 0;
    border-radius: 5%;
    margin-left: 30px;
}
.about-me-container{
    display: flex;
}