body{
    font-family:'Times New Roman', Times, serif;
    margin: 0%;
    padding:0%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
section{
    display: block;
}